<!DOCTYPE html>
<html>
<head>
	<title>
		Apna Arsenal
	</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css" rel="stylesheet">
  
</head>

<body>

{% include 'menu.html' %}

<div class="container">

<table class="table table-hover">
  <thead>
        <tr>
          <th>Date</th>
          <th>Team</th>
          <th>Result</th>
          <th>Home/Away</th>
          <th>League</th>
        </tr>
   </thead>
   <tbody>
   {% for d in data %}
        <tr>
          <th scope="row">{{d[3]}}</th>
          <td>{{d[1]}}</td>
          {% if d[4] == -1 %}
          <td>Not Played</td>
          {% else %}
          <td>Arsenal  <b> {{d[4]}} </b>- <b>{{d[5]}}</b>  {{d[1]}}</td>
          {% endif %}
          <td>{{d[2]}}</td>
          <td>{{d[6]}}</td>
        </tr>
    {% endfor %}    
      </tbody>
</table>


</div>
{% include 'footer.html' %}
</body>
</html>
