<div class="container">
<div class="footer">
<hr>
<div align="center">
<a href="/guidelines" target="_blank">Guidelines </a>|
<a href="http://blog.apnaarsenal.com" target="_blank">Blog</a> 
</div>
</div>
</div>
