<!DOCTYPE html>
<html>
<head>
	<title>
		Apna Arsenal
	</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% include 'menu.html' %}

<div class="container well well-sm">
<h2 class="text-warning">Guidelines for posting on Apna Arsenal</h2>
<br />
<h3 class="text-info">What to post :</h3>
<h5>Anything that is related to Arsenal FC that fellow arsenal fans would find interesting.</h5>

<hr>
<h3 class="text-info">What not to post :</h3>
<h5>Anything else.</h5>

<hr>
<h3 class="text-info">While commenting :</h3>
<h5>Be nice.</h5>
</div>
{% include 'footer.html' %}
</body>
</html>
