<!DOCTYPE html>
<html>
<head>
	<title>
		Apna Arsenal
	</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		ul
			{
			    list-style-type: none;
			}
	</style>
</head>
<body>

{% include 'menu.html' %}

<div class="container">
	{% for d in data %}
		<div class="well well-sm">

		<span>{{loop.index}} .  </span><a style="color:white" href={{d.url}} target="_blank">{{d.desc}}</a>
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<!-- <a href="/story/{{d.id}}"><small class="text-success">upvote<span class="badge">42</span></small></a> |  -->
		<small class="text-info">By {{d.user}}</small> | <a href="/story/{{d.id}}"><small class="text-success">{{d.comments}} comments</small></a> 
		</div>
	{% endfor %}
	<!-- <a href="/news/{{page}}"><small class="text-info">More.</small></a> -->
</div>
{% include 'footer.html' %}

</body>
</html>
