<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63043659-1', 'auto');
  ga('send', 'pageview');

</script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Apna Arsenal</a>

    </div>
    

    <ul class="nav navbar-nav">
            <li>
                <a href="/fixtures">Fixtures</a>
            </li>    
    </ul>

    {% if "username" in session %}
    <ul class="nav navbar-nav">
            <li>
                <a href="/submit/story">Submit</a>
            </li>    
    </ul>
    {% endif %}

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      
      <ul class="nav navbar-nav navbar-right">
        {% if "username" in session %}
        <li><a href="/logout">logout</a></li>
        {% else %}
        <li><a href="/login">Login/Register</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if "username" in session %}
        <li><a href="/user/{{session['username']}}">{{session["username"]}}</a>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
