<!DOCTYPE html>
<html>
<head>
	<title>
		Apna Arsenal
	</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% include 'menu.html' %}

<div class="container">
<p>Welcome, {{data.username}}.</p>
<p>Fan Score : {{data.fan_score}}</p>
</div>
{% include 'footer.html' %}
</body>
</html>
