<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css" rel="stylesheet">
<body>
{% include 'menu.html' %}
<div class="container">
<div class="col-md-4 col-md-offset-4  well well-sm">
	<form class="form-horizontal" method="POST">
  <fieldset>
    <legend>Sign in</legend>
    <input type="hidden" name="type" value="login">
    <div class="form-group">
      <label for="username" class="col-lg-2 control-label" >Username</label>
      <div class="col-lg-10">
        <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        
      </div>
      </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>

</div>

<div class="container">
<div class="col-md-4 col-md-offset-4">
<p>Or if you are new user register below.</p>
</div>
</div>
<div class="container">
<div class="col-md-4 col-md-offset-4  well well-sm">
	<form class="form-horizontal" method="POST">
  <fieldset>
    <legend>Register</legend>
    <input type="hidden" name="type" value="register">
    <div class="form-group">
      <label for="username" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required> 
        
      </div>
      </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
</div>

</div>
{% include 'footer.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
