<!DOCTYPE html>
<html>
<head>
	<title>
		Apna Arsenal
	</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% include 'menu.html' %}


<div class="container">
<div class="well well-sm">
	<span> </span><a style="color:white" href={{story.url}} target="_blank">{{story.description}}</a>
	<br>
	<small class="text-info">By {{story.user}}</small>
</div>


{% if "username" in session %}
<!-- <div class="well well-sm"> -->
	<form class="form-horizontal" action="/submit/comment" method="POST">
	<input type="hidden" value="{{story.link_id}}" name="link_id"/>
	<div class="form-group">
      
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" placeholder="Enter Comment" name="comment"></textarea>
        <!-- <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span> -->
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    </form>
    {% else %}
<div class="container">
	<p><span  class="text-info">Log in to comment.</span></p>
</div>
{% endif %}
 
<!-- </div> -->
</div>


<div class="container">
{% for comment in comments %}
	<div class="well well-sm">
	<small class="text-success">{{comment[1]}} : </small>
		<p>{{comment[0]}}</p>
		
	</div>
{% endfor %}
</div>
{% include 'footer.html' %}
</body>
</html>
