<!DOCTYPE html>
<html>
<head>
	<title>
		Apna Arsenal
	</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% include 'menu.html' %}


<div class="container">

<div class="col-md-8 col-md-offset 2">
<form action="/submit/story" method="post">
  <div class="form-group">
    <label class="control-label" for="title">Title</label>
    <input class="form-control input-sm" type="text" id="title" name="title">
  </div>
  <div class="form-group">
    <label class="control-label" for="link">Link</label>
    <input class="form-control input-sm" type="text" id="link" name="link">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
{% include 'footer.html' %}
</body>
</html>
